-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)
--
-- Host: localhost    Database: attendance_system_dev
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendance_appeals`
--

DROP TABLE IF EXISTS `attendance_appeals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_appeals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `status` varchar(20) NOT NULL DEFAULT 'PENDING',
  `message` text NOT NULL,
  `review_comment` text,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `attendance_id` int DEFAULT NULL,
  `student_id` int DEFAULT NULL,
  `reviewed_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `attendance_id` (`attendance_id`),
  KEY `student_id` (`student_id`),
  KEY `reviewed_by` (`reviewed_by`),
  CONSTRAINT `attendance_appeals_ibfk_175` FOREIGN KEY (`attendance_id`) REFERENCES `attendances` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `attendance_appeals_ibfk_176` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `attendance_appeals_ibfk_177` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_appeals`
--

LOCK TABLES `attendance_appeals` WRITE;
/*!40000 ALTER TABLE `attendance_appeals` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_appeals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendances`
--

DROP TABLE IF EXISTS `attendances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendances` (
  `id` int NOT NULL AUTO_INCREMENT,
  `status` int NOT NULL DEFAULT '0',
  `checked_at` datetime DEFAULT NULL,
  `method_used` varchar(50) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `session_id` int DEFAULT NULL,
  `student_id` int DEFAULT NULL,
  `updated_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `session_id` (`session_id`),
  KEY `student_id` (`student_id`),
  KEY `updated_by` (`updated_by`),
  CONSTRAINT `attendances_ibfk_175` FOREIGN KEY (`session_id`) REFERENCES `class_sessions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `attendances_ibfk_176` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `attendances_ibfk_177` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendances`
--

LOCK TABLES `attendances` WRITE;
/*!40000 ALTER TABLE `attendances` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action` varchar(255) NOT NULL,
  `target_type` varchar(50) DEFAULT NULL,
  `target_id` int DEFAULT NULL,
  `meta_json` json DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `actor_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `actor_id` (`actor_id`),
  CONSTRAINT `audit_logs_ibfk_1` FOREIGN KEY (`actor_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=543 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `class_sessions`
--

DROP TABLE IF EXISTS `class_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `class_sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `week` int NOT NULL,
  `date` date NOT NULL,
  `start_at` time NOT NULL,
  `end_at` time NOT NULL,
  `room` varchar(255) DEFAULT NULL,
  `attendance_method` varchar(50) NOT NULL DEFAULT 'ELECTRONIC',
  `is_holiday` tinyint(1) NOT NULL DEFAULT '0',
  `is_makeup` tinyint(1) NOT NULL DEFAULT '0',
  `status` varchar(20) NOT NULL DEFAULT 'SCHEDULED',
  `pin_code` varchar(10) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `course_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `course_id` (`course_id`),
  CONSTRAINT `class_sessions_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=129 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `class_sessions`
--

LOCK TABLES `class_sessions` WRITE;
/*!40000 ALTER TABLE `class_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `class_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course_policies`
--

DROP TABLE IF EXISTS `course_policies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course_policies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `late_penalty_points` float NOT NULL DEFAULT '0.5' COMMENT '吏媛?1?뚮떦 媛먯젏',
  `absence_penalty_points` float NOT NULL DEFAULT '1' COMMENT '寃곗꽍 1?뚮떦 媛먯젏',
  `lates_for_absence` int NOT NULL DEFAULT '2' COMMENT '寃곗꽍?쇰줈 泥섎━??吏媛??잛닔',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `course_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `course_id` (`course_id`),
  CONSTRAINT `course_policies_ibfk_1` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course_policies`
--

LOCK TABLES `course_policies` WRITE;
/*!40000 ALTER TABLE `course_policies` DISABLE KEYS */;
INSERT INTO `course_policies` VALUES (1,1,2,2,'2025-11-15 16:58:20','2025-12-12 11:32:55',1),(2,0.5,1,2,'2025-11-15 17:12:50','2025-11-15 17:12:50',2),(3,0.5,1,2,'2025-11-27 09:27:21','2025-11-27 09:27:21',NULL);
/*!40000 ALTER TABLE `course_policies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `code` varchar(50) NOT NULL,
  `section` varchar(10) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `instructor_id` int DEFAULT NULL,
  `semester_id` int DEFAULT NULL,
  `department_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `instructor_id` (`instructor_id`),
  KEY `semester_id` (`semester_id`),
  KEY `department_id` (`department_id`),
  CONSTRAINT `courses_ibfk_172` FOREIGN KEY (`instructor_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `courses_ibfk_173` FOREIGN KEY (`semester_id`) REFERENCES `semesters` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `courses_ibfk_174` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
INSERT INTO `courses` VALUES (1,'媛뺤쓽1','1','1','2025-11-15 16:58:20','2025-11-27 09:34:57',1,1,2),(2,'2','2','2','2025-11-15 17:12:50','2025-11-27 09:35:03',1,2,2),(8,'1234','321123','124124','2025-11-28 08:48:21','2025-11-28 08:48:21',1,1,2),(10,'2313','21312312','34214','2025-12-15 11:59:48','2025-12-15 11:59:48',1,1,2),(11,'dcssdfa','fsdsa','sfd','2025-12-16 05:35:13','2025-12-16 05:35:13',1,1,2);
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `name_2` (`name`),
  UNIQUE KEY `name_3` (`name`),
  UNIQUE KEY `name_4` (`name`),
  UNIQUE KEY `name_5` (`name`),
  UNIQUE KEY `name_6` (`name`),
  UNIQUE KEY `name_7` (`name`),
  UNIQUE KEY `name_8` (`name`),
  UNIQUE KEY `name_9` (`name`),
  UNIQUE KEY `name_10` (`name`),
  UNIQUE KEY `name_11` (`name`),
  UNIQUE KEY `name_12` (`name`),
  UNIQUE KEY `name_13` (`name`),
  UNIQUE KEY `name_14` (`name`),
  UNIQUE KEY `name_15` (`name`),
  UNIQUE KEY `name_16` (`name`),
  UNIQUE KEY `name_17` (`name`),
  UNIQUE KEY `name_18` (`name`),
  UNIQUE KEY `name_19` (`name`),
  UNIQUE KEY `name_20` (`name`),
  UNIQUE KEY `name_21` (`name`),
  UNIQUE KEY `name_22` (`name`),
  UNIQUE KEY `name_23` (`name`),
  UNIQUE KEY `name_24` (`name`),
  UNIQUE KEY `name_25` (`name`),
  UNIQUE KEY `name_26` (`name`),
  UNIQUE KEY `name_27` (`name`),
  UNIQUE KEY `name_28` (`name`),
  UNIQUE KEY `name_29` (`name`),
  UNIQUE KEY `name_30` (`name`),
  UNIQUE KEY `name_31` (`name`),
  UNIQUE KEY `name_32` (`name`),
  UNIQUE KEY `name_33` (`name`),
  UNIQUE KEY `name_34` (`name`),
  UNIQUE KEY `name_35` (`name`),
  UNIQUE KEY `name_36` (`name`),
  UNIQUE KEY `name_37` (`name`),
  UNIQUE KEY `name_38` (`name`),
  UNIQUE KEY `name_39` (`name`),
  UNIQUE KEY `name_40` (`name`),
  UNIQUE KEY `name_41` (`name`),
  UNIQUE KEY `name_42` (`name`),
  UNIQUE KEY `name_43` (`name`),
  UNIQUE KEY `name_44` (`name`),
  UNIQUE KEY `name_45` (`name`),
  UNIQUE KEY `name_46` (`name`),
  UNIQUE KEY `name_47` (`name`),
  UNIQUE KEY `name_48` (`name`),
  UNIQUE KEY `name_49` (`name`),
  UNIQUE KEY `name_50` (`name`),
  UNIQUE KEY `name_51` (`name`),
  UNIQUE KEY `name_52` (`name`),
  UNIQUE KEY `name_53` (`name`),
  UNIQUE KEY `name_54` (`name`),
  UNIQUE KEY `name_55` (`name`),
  UNIQUE KEY `name_56` (`name`),
  UNIQUE KEY `name_57` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (2,'?뚰봽?몄썾?댄븰怨?,'2025-11-27 09:34:45','2025-11-27 09:34:45');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrollments`
--

DROP TABLE IF EXISTS `enrollments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enrollments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role` varchar(20) NOT NULL DEFAULT 'STUDENT',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `course_id` int DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `course_id` (`course_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `enrollments_ibfk_117` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `enrollments_ibfk_118` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrollments`
--

LOCK TABLES `enrollments` WRITE;
/*!40000 ALTER TABLE `enrollments` DISABLE KEYS */;
INSERT INTO `enrollments` VALUES (1,'STUDENT','2025-11-15 17:09:46','2025-11-15 17:09:46',1,3),(2,'STUDENT','2025-11-28 08:48:58','2025-11-28 08:48:58',8,3),(3,'STUDENT','2025-12-12 09:56:08','2025-12-12 09:56:08',2,3),(4,'STUDENT','2025-12-15 12:00:14','2025-12-15 12:00:14',10,3);
/*!40000 ALTER TABLE `enrollments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `excuse_files`
--

DROP TABLE IF EXISTS `excuse_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `excuse_files` (
  `id` int NOT NULL AUTO_INCREMENT,
  `file_path` varchar(255) NOT NULL,
  `original_name` varchar(255) NOT NULL,
  `mime_type` varchar(100) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `excuse_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `excuse_id` (`excuse_id`),
  CONSTRAINT `excuse_files_ibfk_1` FOREIGN KEY (`excuse_id`) REFERENCES `excuse_requests` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `excuse_files`
--

LOCK TABLES `excuse_files` WRITE;
/*!40000 ALTER TABLE `excuse_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `excuse_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `excuse_requests`
--

DROP TABLE IF EXISTS `excuse_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `excuse_requests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `status` varchar(20) NOT NULL DEFAULT 'PENDING',
  `reason_text` text,
  `reason_code` varchar(50) DEFAULT NULL,
  `review_comment` text,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `session_id` int DEFAULT NULL,
  `student_id` int DEFAULT NULL,
  `reviewed_by` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `session_id` (`session_id`),
  KEY `student_id` (`student_id`),
  KEY `reviewed_by` (`reviewed_by`),
  CONSTRAINT `excuse_requests_ibfk_175` FOREIGN KEY (`session_id`) REFERENCES `class_sessions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `excuse_requests_ibfk_176` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `excuse_requests_ibfk_177` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `excuse_requests`
--

LOCK TABLES `excuse_requests` WRITE;
/*!40000 ALTER TABLE `excuse_requests` DISABLE KEYS */;
INSERT INTO `excuse_requests` VALUES (1,'REJECTED','z','FAMILY_EVENT','qqqq','2025-11-27 08:27:48','2025-11-27 08:40:34',13,3,1),(2,'APPROVED','sss','SICKNESS','aaa','2025-11-27 08:35:47','2025-11-27 08:40:02',13,3,1),(3,'APPROVED','111111','FAMILY_EVENT','111','2025-11-27 09:44:48','2025-11-27 09:45:04',13,3,1),(4,'APPROVED','?덇컝??,'FAMILY_EVENT','','2025-11-28 07:55:14','2025-11-28 07:55:31',4,3,1),(5,'APPROVED','111','SICKNESS','','2025-11-28 07:57:32','2025-11-28 07:58:57',5,3,1),(6,'APPROVED','1113234','SICKNESS','','2025-11-28 08:01:02','2025-11-28 08:01:09',6,3,1),(7,'APPROVED','1233324134','FAMILY_EVENT','eqsd','2025-11-28 08:52:27','2025-11-28 08:52:52',81,3,1),(8,'APPROVED','a','FAMILY_EVENT','aaaaaaa','2025-12-12 10:33:50','2025-12-12 10:34:05',10,3,1),(9,'APPROVED','aaaaadsafaa','FAMILY_EVENT','31243125rgd','2025-12-12 10:48:34','2025-12-12 10:48:52',9,3,1),(10,'APPROVED','aaadsffsadf','FAMILY_EVENT','aa','2025-12-12 21:32:27','2025-12-12 21:32:54',83,3,1),(11,'APPROVED','d','SICKNESS','','2025-12-15 12:49:52','2025-12-15 12:51:24',97,3,1),(12,'PENDING','d','SICKNESS',NULL,'2025-12-15 12:49:57','2025-12-15 12:49:57',97,3,NULL),(13,'PENDING','d','SICKNESS',NULL,'2025-12-15 12:49:58','2025-12-15 12:49:58',97,3,NULL),(14,'PENDING','fdsa','SICKNESS',NULL,'2025-12-15 12:50:00','2025-12-15 12:50:00',97,3,NULL),(15,'PENDING','fdsafgs','SICKNESS',NULL,'2025-12-15 12:50:02','2025-12-15 12:50:02',98,3,NULL),(16,'PENDING','gdsagsdg','SICKNESS',NULL,'2025-12-15 12:50:04','2025-12-15 12:50:04',97,3,NULL),(17,'PENDING','gdsagdggsa','SICKNESS',NULL,'2025-12-15 12:50:06','2025-12-15 12:50:06',97,3,NULL),(18,'PENDING','sdagdgsadgdgsa','SICKNESS',NULL,'2025-12-15 12:50:08','2025-12-15 12:50:08',97,3,NULL),(19,'APPROVED','fgdsagdsgsvsf','SICKNESS','','2025-12-15 12:50:09','2025-12-15 12:51:30',98,3,1),(20,'APPROVED','fdsafsdf','SICKNESS','','2025-12-15 12:50:11','2025-12-15 12:52:31',97,3,1),(21,'PENDING','khkj,hkj','SICKNESS',NULL,'2025-12-15 12:50:13','2025-12-15 12:50:13',97,3,NULL),(22,'APPROVED','jhg,hj,','SICKNESS','','2025-12-15 12:50:15','2025-12-15 12:52:25',98,3,1),(23,'PENDING','ndfgx','SICKNESS',NULL,'2025-12-15 12:50:17','2025-12-15 12:50:17',97,3,NULL),(24,'APPROVED','ndgfhndgh','SICKNESS','','2025-12-15 12:50:18','2025-12-15 12:52:22',98,3,1),(25,'APPROVED','rewq','SICKNESS','','2025-12-15 12:51:01','2025-12-15 12:52:18',98,3,1),(26,'APPROVED','fdsaf','SICKNESS','','2025-12-15 12:51:03','2025-12-15 12:52:12',97,3,1),(27,'APPROVED','fdsaf','SICKNESS','','2025-12-15 12:51:04','2025-12-15 12:52:05',98,3,1),(28,'APPROVED','fdsadf','SICKNESS','','2025-12-15 12:51:06','2025-12-15 12:52:01',98,3,1),(29,'APPROVED','fdsafdsaf','SICKNESS','','2025-12-15 12:51:07','2025-12-15 12:51:58',98,3,1),(30,'APPROVED','fdsafdfd','SICKNESS','','2025-12-15 12:51:09','2025-12-15 12:51:53',98,3,1),(31,'APPROVED','fdsadgdsag','SICKNESS','','2025-12-15 12:51:10','2025-12-15 12:51:45',98,3,1),(32,'APPROVED','gasdgva','SICKNESS','','2025-12-15 12:51:13','2025-12-15 12:51:41',98,3,1),(33,'APPROVED','sdavv','SICKNESS','','2025-12-15 12:51:15','2025-12-15 12:51:34',98,3,1);
/*!40000 ALTER TABLE `excuse_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `messages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `body` text NOT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `course_id` int DEFAULT NULL,
  `from_user_id` int DEFAULT NULL,
  `to_user_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `course_id` (`course_id`),
  KEY `from_user_id` (`from_user_id`),
  KEY `to_user_id` (`to_user_id`),
  CONSTRAINT `messages_ibfk_175` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `messages_ibfk_176` FOREIGN KEY (`from_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `messages_ibfk_177` FOREIGN KEY (`to_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messages`
--

LOCK TABLES `messages` WRITE;
/*!40000 ALTER TABLE `messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` varchar(50) NOT NULL,
  `message` varchar(255) NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `user_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES (1,'NEW_NOTICE','?덈줈??媛뺤쓽 怨듭?媛 ?덉뒿?덈떎: a','/messages',1,'2025-11-24 07:55:57','2025-12-12 21:20:15',3),(2,'ATTENDANCE_OPEN','[媛뺤쓽1] 13二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/1',1,'2025-11-24 07:57:53','2025-12-12 21:20:15',3),(3,'NEW_MESSAGE','3?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',0,'2025-11-24 08:02:21','2025-11-24 08:02:21',1),(4,'NEW_VOTE','[111] ?덈줈???ы몴媛 ?앹꽦?섏뿀?듬땲??','/votes/8',1,'2025-11-24 08:26:05','2025-12-12 21:20:15',3),(5,'NEW_NOTICE','?덈줈??媛뺤쓽 怨듭?媛 ?덉뒿?덈떎: ?쀣뀠??,'/messages',1,'2025-11-26 09:18:42','2025-12-12 21:20:15',3),(6,'NEW_MESSAGE','3?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',0,'2025-11-26 09:19:06','2025-11-26 09:19:06',1),(7,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/2',1,'2025-11-27 08:40:02','2025-12-12 21:20:15',3),(8,'EXCUSE_RESULT','怨듦껐 ?좎껌??諛섎젮?섏뿀?듬땲??','/excuses/1',1,'2025-11-27 08:40:34','2025-12-12 21:20:15',3),(9,'NEW_VOTE','[22] ?덈줈???ы몴媛 ?앹꽦?섏뿀?듬땲??','/votes/9',1,'2025-11-27 08:57:48','2025-12-12 21:20:15',3),(10,'NEW_VOTE','[333] ?덈줈???ы몴媛 ?앹꽦?섏뿀?듬땲??','/votes/10',1,'2025-11-27 09:44:11','2025-12-12 21:20:15',3),(11,'NEW_MESSAGE','3?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',0,'2025-11-27 09:44:34','2025-11-27 09:44:34',1),(12,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/3',1,'2025-11-27 09:45:04','2025-12-12 21:20:15',3),(13,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/4',1,'2025-11-28 07:55:31','2025-12-12 21:20:15',3),(14,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/5',1,'2025-11-28 07:58:57','2025-12-12 21:20:15',3),(15,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/6',1,'2025-11-28 08:01:09','2025-12-12 21:20:15',3),(16,'ATTENDANCE_OPEN','[1234] 1二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-11-28 08:49:04','2025-12-12 21:20:15',3),(17,'NEW_NOTICE','?덈줈??媛뺤쓽 怨듭?媛 ?덉뒿?덈떎: 231','/messages',1,'2025-11-28 08:51:41','2025-12-12 21:20:15',3),(18,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/7',1,'2025-11-28 08:52:52','2025-12-12 21:20:15',3),(19,'NEW_VOTE','[aadsa] ?덈줈???ы몴媛 ?앹꽦?섏뿀?듬땲??','/votes/11',1,'2025-11-28 08:53:30','2025-12-12 21:20:15',3),(20,'ABSENCE_WARNING','[媛뺤쓽1] 媛뺤쓽??2??寃곗꽍?섏뿬 寃쎄퀬 ?뚮┝??諛쒖넚?섏뿀?듬땲?? 異쒓껐 愿由ъ뿉 ?좎쓽??二쇱떆湲?諛붾엻?덈떎.','/courses/1/score',1,'2025-12-11 11:13:56','2025-12-12 21:20:15',3),(21,'ABSENCE_WARNING','[媛뺤쓽1] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/1/score',1,'2025-12-11 11:14:27','2025-12-12 21:20:15',3),(22,'ATTENDANCE_OPEN','[1234] 3二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 09:50:11','2025-12-12 21:20:15',3),(23,'ATTENDANCE_OPEN','[2] 3二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/2',1,'2025-12-12 09:56:48','2025-12-12 21:20:15',3),(24,'ATTENDANCE_OPEN','[媛뺤쓽1] 8二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/1',1,'2025-12-12 10:18:39','2025-12-12 21:20:15',3),(25,'ATTENDANCE_OPEN','[媛뺤쓽1] 10二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/1',1,'2025-12-12 10:18:45','2025-12-12 21:20:15',3),(26,'ATTENDANCE_OPEN','[媛뺤쓽1] 12二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/1',1,'2025-12-12 10:18:46','2025-12-12 21:20:15',3),(27,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/8',1,'2025-12-12 10:34:05','2025-12-12 21:20:15',3),(28,'ATTENDANCE_OPEN','[媛뺤쓽1] 16二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/1',1,'2025-12-12 10:48:12','2025-12-12 21:20:15',3),(29,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/9',1,'2025-12-12 10:48:52','2025-12-12 21:20:15',3),(30,'ATTENDANCE_OPEN','[1234] 4二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 11:00:14','2025-12-12 21:20:15',3),(31,'ATTENDANCE_OPEN','[媛뺤쓽1] 7二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/1',1,'2025-12-12 11:08:31','2025-12-12 21:20:15',3),(32,'ATTENDANCE_OPEN','[1234] 6二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 21:17:49','2025-12-12 21:20:15',3),(33,'NEW_NOTICE','?덈줈??媛뺤쓽 怨듭?媛 ?덉뒿?덈떎: 9999','/messages',1,'2025-12-12 21:21:16','2025-12-12 21:21:31',3),(34,'NEW_NOTICE','?덈줈??媛뺤쓽 怨듭?媛 ?덉뒿?덈떎: 8888','/messages',1,'2025-12-12 21:21:26','2025-12-12 21:21:31',3),(35,'NEW_MESSAGE','3?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',0,'2025-12-12 21:32:04','2025-12-12 21:32:04',1),(36,'NEW_MESSAGE','3?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',0,'2025-12-12 21:32:11','2025-12-12 21:32:11',1),(37,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/10',1,'2025-12-12 21:32:54','2025-12-12 22:00:34',3),(38,'NEW_NOTICE','?덈줈??媛뺤쓽 怨듭?媛 ?덉뒿?덈떎: 11111','/messages',1,'2025-12-12 22:00:52','2025-12-12 22:00:58',3),(39,'ATTENDANCE_OPEN','[1234] 7二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 22:03:06','2025-12-12 22:05:58',3),(40,'NEW_NOTICE','?덈줈??媛뺤쓽 怨듭?媛 ?덉뒿?덈떎: 1111','/messages',1,'2025-12-12 22:03:49','2025-12-12 22:05:58',3),(41,'ATTENDANCE_OPEN','[1234] 8二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 22:05:16','2025-12-12 22:05:58',3),(42,'ABSENCE_WARNING','[1234] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:06:22','2025-12-12 22:06:57',3),(43,'ABSENCE_WARNING','[1234] 媛뺤쓽??2??寃곗꽍?섏뿬 寃쎄퀬 ?뚮┝??諛쒖넚?섏뿀?듬땲?? 異쒓껐 愿由ъ뿉 ?좎쓽??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:12:14','2025-12-12 22:12:21',3),(44,'ABSENCE_WARNING','[1234] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:12:44','2025-12-12 22:12:47',3),(45,'ABSENCE_WARNING','[1234] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:13:02','2025-12-12 22:13:04',3),(46,'ATTENDANCE_OPEN','[1234] 5二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 22:13:38','2025-12-12 22:36:12',3),(47,'ABSENCE_WARNING','[1234] 媛뺤쓽??2??寃곗꽍?섏뿬 寃쎄퀬 ?뚮┝??諛쒖넚?섏뿀?듬땲?? 異쒓껐 愿由ъ뿉 ?좎쓽??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:14:47','2025-12-12 22:36:12',3),(48,'ATTENDANCE_OPEN','[1234] 9二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 22:15:07','2025-12-12 22:36:12',3),(49,'ABSENCE_WARNING','[1234] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:15:13','2025-12-12 22:36:12',3),(50,'ABSENCE_WARNING','[1234] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:36:09','2025-12-12 22:36:12',3),(51,'ATTENDANCE_OPEN','[1234] 10二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 22:36:59','2025-12-12 22:37:52',3),(52,'ABSENCE_WARNING','[1234] 媛뺤쓽??2??寃곗꽍?섏뿬 寃쎄퀬 ?뚮┝??諛쒖넚?섏뿀?듬땲?? 異쒓껐 愿由ъ뿉 ?좎쓽??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:37:46','2025-12-12 22:37:52',3),(53,'ABSENCE_WARNING','[1234] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:38:30','2025-12-12 22:38:32',3),(54,'NEW_NOTICE','?덈줈??媛뺤쓽 怨듭?媛 ?덉뒿?덈떎: FDSAF','/messages',1,'2025-12-12 22:39:49','2025-12-12 22:39:51',3),(55,'NEW_MESSAGE','1?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',1,'2025-12-12 22:40:33','2025-12-12 22:40:55',3),(56,'NEW_MESSAGE','1?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',1,'2025-12-12 22:40:53','2025-12-12 22:40:55',3),(57,'ATTENDANCE_OPEN','[1234] 11二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 22:43:55','2025-12-12 22:44:21',3),(58,'ATTENDANCE_OPEN','[1234] 12二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-12 22:47:22','2025-12-12 22:48:41',3),(59,'ABSENCE_WARNING','[1234] 媛뺤쓽??2??寃곗꽍?섏뿬 寃쎄퀬 ?뚮┝??諛쒖넚?섏뿀?듬땲?? 異쒓껐 愿由ъ뿉 ?좎쓽??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:48:28','2025-12-12 22:48:41',3),(60,'ABSENCE_WARNING','[1234] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',1,'2025-12-12 22:48:38','2025-12-12 22:48:41',3),(61,'NEW_NOTICE','?덈줈??媛뺤쓽 怨듭?媛 ?덉뒿?덈떎: 11143252','/messages',1,'2025-12-12 22:49:18','2025-12-12 22:49:27',3),(62,'NEW_MESSAGE','1?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',1,'2025-12-12 22:49:25','2025-12-12 22:49:27',3),(63,'NEW_MESSAGE','1?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',1,'2025-12-12 22:53:39','2025-12-12 23:05:28',3),(64,'NEW_VOTE','[ddsvas] ?덈줈???ы몴媛 ?앹꽦?섏뿀?듬땲??','/votes/12',1,'2025-12-12 23:06:08','2025-12-12 23:06:16',3),(65,'ATTENDANCE_OPEN','[1234] 14二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/8',1,'2025-12-15 11:38:12','2025-12-15 11:38:33',3),(66,'ATTENDANCE_OPEN','[2313] 1二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/10',1,'2025-12-15 12:00:27','2025-12-15 12:20:32',3),(67,'ATTENDANCE_OPEN','[2313] 2二쇱감 異쒖꽍???쒖옉?섏뿀?듬땲??','/courses/10',1,'2025-12-15 12:15:43','2025-12-15 12:20:32',3),(68,'ABSENCE_WARNING','[2313] 媛뺤쓽??2??寃곗꽍?섏뿬 寃쎄퀬 ?뚮┝??諛쒖넚?섏뿀?듬땲?? 異쒓껐 愿由ъ뿉 ?좎쓽??二쇱떆湲?諛붾엻?덈떎.','/courses/10/score',1,'2025-12-15 12:15:46','2025-12-15 12:20:32',3),(69,'NEW_MESSAGE','1?섏쑝濡쒕????덈줈??硫붿떆吏媛 ?꾩갑?덉뒿?덈떎.','/messages',1,'2025-12-15 12:33:30','2025-12-15 12:33:40',3),(70,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/11',0,'2025-12-15 12:51:25','2025-12-15 12:51:25',3),(71,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/19',0,'2025-12-15 12:51:30','2025-12-15 12:51:30',3),(72,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/33',0,'2025-12-15 12:51:34','2025-12-15 12:51:34',3),(73,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/32',0,'2025-12-15 12:51:41','2025-12-15 12:51:41',3),(74,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/31',0,'2025-12-15 12:51:45','2025-12-15 12:51:45',3),(75,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/30',0,'2025-12-15 12:51:53','2025-12-15 12:51:53',3),(76,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/29',0,'2025-12-15 12:51:58','2025-12-15 12:51:58',3),(77,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/28',0,'2025-12-15 12:52:01','2025-12-15 12:52:01',3),(78,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/27',0,'2025-12-15 12:52:05','2025-12-15 12:52:05',3),(79,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/26',0,'2025-12-15 12:52:12','2025-12-15 12:52:12',3),(80,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/25',0,'2025-12-15 12:52:18','2025-12-15 12:52:18',3),(81,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/24',0,'2025-12-15 12:52:22','2025-12-15 12:52:22',3),(82,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/22',0,'2025-12-15 12:52:25','2025-12-15 12:52:25',3),(83,'EXCUSE_RESULT','怨듦껐 ?좎껌???뱀씤?섏뿀?듬땲??','/excuses/20',0,'2025-12-15 12:52:31','2025-12-15 12:52:31',3),(84,'ABSENCE_WARNING','[1234] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',0,'2025-12-16 05:49:39','2025-12-16 05:49:39',3),(85,'ABSENCE_WARNING','[1234] 媛뺤쓽??3??寃곗꽍?섏뿬 ?꾪뿕 ?뚮┝??諛쒖넚?섏뿀?듬땲?? ?숈젏 ?댁닔??臾몄젣媛 諛쒖깮?????덉쑝??利됱떆 ?뺤씤??二쇱떆湲?諛붾엻?덈떎.','/courses/8/score',0,'2025-12-16 05:49:40','2025-12-16 05:49:40',3);
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semesters`
--

DROP TABLE IF EXISTS `semesters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `semesters` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semesters`
--

LOCK TABLES `semesters` WRITE;
/*!40000 ALTER TABLE `semesters` DISABLE KEYS */;
INSERT INTO `semesters` VALUES (1,'2025??2?숆린','2025-11-16 01:57:58','2025-11-16 01:57:58',NULL,NULL),(2,'2025-3','2025-11-27 09:31:33','2025-11-27 09:31:33','2025-09-01','2025-12-21');
/*!40000 ALTER TABLE `semesters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role` varchar(20) NOT NULL DEFAULT 'STUDENT',
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'INSTRUCTOR','1','1@1','$2b$12$L4jJPAzArhhxw/bCPedDUO9yDghYXpqnT/tbVaCG4CapZgPrrbE16','2025-11-15 16:34:01','2025-11-28 07:28:31'),(2,'ADMIN','2','2@2','$2b$12$0GvYSUNsPBJjbN02aZh3j.kvXCqTdT/y4UHDB3QxoZ6mkWXNNP2.K','2025-11-15 16:34:56','2025-11-15 16:34:56'),(3,'STUDENT','3','3@3','$2b$12$h79IeRt0mzTgkFpcWTqCxe112A.mqwX/Z2eaC0cLwUgIKgLopfr/a','2025-11-15 16:35:29','2025-11-15 16:35:29'),(5,'ADMIN','愿由ъ옄','admin@sangmyung.kr','$2b$12$tmM/0w0YRMGseYNDNlXP6..yL0fETxRDGRaEFSM7M2KqHwyhK7cry','2025-12-15 09:40:57','2025-12-15 09:40:57');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vote_options`
--

DROP TABLE IF EXISTS `vote_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vote_options` (
  `id` int NOT NULL AUTO_INCREMENT,
  `label` varchar(255) NOT NULL,
  `vote_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vote_id` (`vote_id`),
  CONSTRAINT `vote_options_ibfk_1` FOREIGN KEY (`vote_id`) REFERENCES `votes` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vote_options`
--

LOCK TABLES `vote_options` WRITE;
/*!40000 ALTER TABLE `vote_options` DISABLE KEYS */;
INSERT INTO `vote_options` VALUES (1,'11',8),(2,'22',8),(3,'454',9),(4,'5436',9),(5,'2',9),(6,'1',10),(7,'2',10),(8,'2',11),(9,'23',11),(10,'5',11),(11,'11',12),(12,'22',12);
/*!40000 ALTER TABLE `vote_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vote_responses`
--

DROP TABLE IF EXISTS `vote_responses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vote_responses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `student_id` int DEFAULT NULL,
  `vote_id` int DEFAULT NULL,
  `option_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `student_id` (`student_id`),
  KEY `vote_id` (`vote_id`),
  KEY `option_id` (`option_id`),
  CONSTRAINT `vote_responses_ibfk_175` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `vote_responses_ibfk_176` FOREIGN KEY (`vote_id`) REFERENCES `votes` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `vote_responses_ibfk_177` FOREIGN KEY (`option_id`) REFERENCES `vote_options` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vote_responses`
--

LOCK TABLES `vote_responses` WRITE;
/*!40000 ALTER TABLE `vote_responses` DISABLE KEYS */;
INSERT INTO `vote_responses` VALUES (1,'2025-11-24 08:26:29','2025-11-24 08:26:29',3,8,1),(2,'2025-11-27 08:58:10','2025-11-27 08:58:10',3,9,5),(3,'2025-11-27 09:44:25','2025-11-27 09:44:25',3,10,6),(4,'2025-11-28 08:53:58','2025-11-28 08:53:58',3,11,9),(5,'2025-12-12 23:06:19','2025-12-12 23:06:19',3,12,12);
/*!40000 ALTER TABLE `vote_responses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `votes`
--

DROP TABLE IF EXISTS `votes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `votes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text,
  `status` varchar(20) NOT NULL DEFAULT 'OPEN',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `course_id` int DEFAULT NULL,
  `target_session_id` int DEFAULT NULL,
  `closes_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `course_id` (`course_id`),
  KEY `target_session_id` (`target_session_id`),
  CONSTRAINT `votes_ibfk_117` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `votes_ibfk_118` FOREIGN KEY (`target_session_id`) REFERENCES `class_sessions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `votes`
--

LOCK TABLES `votes` WRITE;
/*!40000 ALTER TABLE `votes` DISABLE KEYS */;
INSERT INTO `votes` VALUES (8,'111','1111','OPEN','2025-11-24 08:26:05','2025-11-24 08:26:05',1,NULL,NULL),(9,'22','22222','CLOSED','2025-11-27 08:57:48','2025-11-27 08:59:30',1,NULL,'2025-11-27 08:59:00'),(10,'333','3333','CLOSED','2025-11-27 09:44:11','2025-11-28 07:57:54',1,NULL,'2025-11-27 09:46:00'),(11,'aadsa','asdfdsfa','CLOSED','2025-11-28 08:53:30','2025-11-28 08:54:02',1,NULL,'2025-11-28 08:54:00'),(12,'ddsvas','gfsag','OPEN','2025-12-12 23:06:08','2025-12-12 23:06:08',8,NULL,'2025-12-12 23:07:00');
/*!40000 ALTER TABLE `votes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-18 15:44:35
